<!DOCTYPE HTML>
<html lang=en xmlns:form="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Torrent Tracker Java - Ivan Rybin MA SE ITMO & JB</title>
</head>
<body>

<form name='f' th:object="${loadForm}" th:action="@{file.torrent}" method="get">
    <table>
        <tr>
            <td>Select File:</td>
            <td>
                <select th:field="*{fileId}">
                    <option selected="selected" value=""> -- </option>
                    <option th:each="file : ${files}"
                            th:value="${file.id}"
                            th:utext="${file.toString}"/>
                </select>

            </td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>

</body>
</html>
